@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
:root {
    --primary-purple: #2f3e80;
    --gradient-dark: #1c2965;
    --background-light: #f7f1ea;
    --accent-gold: #c4a173;
    --form-bg: #516388;
    --highlight-text: #6e4c87;
    --text-dark: #1d1d1d;
    --label-gray: #a2a3b5;
  }
  

  .inter-font{
    font-family: "Inter", sans-serif;
  }

  .roboto-font{
    font-family: "Roboto", sans-serif;
  } 

  .open-font{
    font-family: "Open Sans", sans-serif
  }